
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 85px;
}

table > tbody > tr.empty-table-row > td {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.pagination {
    margin: 0;
}

.jq-toast-single .jq-toast-loaded {
    width: 0;
}

.user-pic {
    border-radius: 100%;
}